<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eduhelper</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>ipad</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>iPad</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>laptopcomputer</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Mac</string>
			<key>UIApplicationShortcutItemType</key>
			<string>mac</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>applepencil</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Accessory</string>
			<key>UIApplicationShortcutItemType</key>
			<string>acc</string>
		</dict>
	</array>
</dict>
</plist>
